version: "3.9"
services:
  app:
    build: ./infra/php
    volumes:
      - ./backend:/work

  # 追記
  web:
    image: nginx:1.20-alpine
    ports:
      - 10080:80
    volumes:
      - ./backend:/work
      - ./infra/nginx:/etc/nginx/conf.d
    working_dir: /work